git+https://github.com/terranigma-solutions/subsurface.git#egg=subsurface
omfvista
pyvista

simpeg
discretize

# petrophysics
tabulate
seaborn
scikit-learn
xgboost

# geophysics
git+https://github.com/hifexplo/hylite.git